extends /__layouts/base.pug

block vars
  - const username = user.username
  - const title = `Profil de ${username}`

block main
  h2=title
  a(href=`/profil/${username}/articles`) Articles
  if is_own_profile
    a(href="/articles/ajouter") Ajouter un article
  else
    a(href=`/profil/${username}/contacter`) Contacter
  a(href="/auth/deconnexion") Déconnexion
  