doctype html
html(lang="en")
  head
    block vars
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/img/favicon.png" rel="shortcut icon" type="image/png")
    title #{title} &mdash; Pipot Troc
  body
    header
      nav
        ul
          li #[a(href="/accueil") Accueil]
          li #[a(href="/categories") Catégories]
          if app.user
            li #[a(href=`/profil/${app.user.username}`)=app.user.username]
            li #[a(href="/auth/deconnexion") Déconnexion]
            if app.user.role == "ADMIN"
              li #[a(href="/admin") Espace Admin]
          else
            li #[a(href="/auth/connexion") Connexion/Inscription]

    main
      if flash_success
        p=flash_success
      if flash_errors
        each error in flash_errors
          p=error
      block main