doctype html
html(lang="en")
  head
    block vars
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/img/favicon.png" rel="shortcut icon" type="image/png")
    link(href="/css/style.min.css" rel="stylesheet")
    script(src="/js/main.js" type="module" defer)
    title #{title} &mdash; Pipot Troc
  body
    include /__inc/header.inc.pug

    main.p1.flex1
      if flash_success
        p=flash_success
      if flash_errors
        each error in flash_errors
          p=error
      block main