@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,700;1,400&display=swap');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Sarabun', Verdana, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button,
input[type="text"],
input[type="number"],
input[type="submit"],
textarea {
  font-family: inherit;
}

a {
  color: inherit;
}