extends /__layouts/base.pug

block vars
  - const title = "Recherche"

block main
  if products
    each product in products
      div
        a(href=`/articles/${product.slug}`)=product.name
  else
    p Aucun résultat trouvé.